@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --Primary-color:#403F4C;
    --Second-color: #F5F5F5;
    --red:#E84855;
    --yellow: #F9DC5C;
    --blue: #3185FC;
    --pink: #EFBCD5;
}


body {
    background-color: var(--Second-color);
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-flow: column nowrap;
}

h1 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;

}

h2 {
    display: flex;
    margin: 1rem 0 0 0;
    align-content: center;
    justify-content: center;
}

p {
        margin: 0.5rem 0em 0em 0em;
}

.Kartu-Profil {
    background-color: var(--blue);
    border: #E84855 5px solid;
    border-radius: 1rem;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-flow: column;
    width: 400px;
    height: auto;
}

/* .teks {
    display: block;
} */

.Tempat-Foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Foto-Profile {

    width: 100px;
    height: auto;
    border: 2px var(--yellow) solid ;
    border-radius: 50%;
}

.Tombol {
    width: 400px;
    height: 20px;
    margin-top: 1rem ;

}